@font-face {
  font-family: "Aileron";
  font-weight: normal;
  src: url("../fonts/Aileron/Aileron-Regular.otf");
}
@font-face {
  font-family: "Aileron";
  font-weight: Bold;
  src: url("../fonts/Aileron/Aileron-Bold.otf");
}
@font-face {
  font-family: "Aileron";
  font-weight: 300;
  src: url("../fonts/Aileron/Aileron-Light.otf");
}
@font-face {
  font-family: "Aileron";
  font-weight: 200;
  src: url("../fonts/Aileron/Aileron-Thin.otf");
}
@font-face {
  font-family: "Aileron";
  font-weight: 100;
  src: url("../fonts/Aileron/Aileron-UltraLight.otf");
}
html,
body {
  font-family: "Aileron", sans-serif;
  font-size: 15px;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Aileron", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 25px;
}

.box-center {
  margin: 0 auto;
  float: none;
}

input,
button {
  outline: none;
}

.form-control {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  color: #333333;
  padding: 10px;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-control.shadow-ui {
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.form-control.shadow-ui:focus {
  box-shadow: none;
  border: 0 solid #fff;
}
.form-control.neon-ui {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control.neon-ui:focus {
  border: 1px solid #8ac3f9;
  -webkit-box-shadow: 0 0 0 3px rgba(114, 183, 248, 0.25);
  -moz-box-shadow: 0 0 0 3px rgba(114, 183, 248, 0.25);
  box-shadow: 0 0 0 3px rgba(114, 183, 248, 0.25);
}

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.btn.btn-primary {
  background-color: #72b7f8;
  border: none;
  color: #fff;
}

.panel-notif {
  background-color: #fff;
  padding: 20px 5px 20px;
  margin-right: 0;
  margin-left: 0;
}
.panel-notif > .notif-body > .notif-heading {
  margin: 0 0 10px;
}
.panel-notif:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

.panel-thumb-list.panel {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.panel-thumb-list > .panel-heading {
  background-color: transparent;
  border: none;
  padding-left: 0;
}
.panel-thumb-list > .panel-heading > .panel-title {
  float: left;
  font-size: 20px;
}
.panel-thumb-list > .panel-heading > .panel-title + .panel-tool {
  float: right;
}
.panel-thumb-list > .panel-heading:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}
.panel-thumb-list .thumb-property {
  background-color: #fff;
}
.panel-thumb-list .thumb-property .thumb-title {
  margin-left: 0;
  border-left: 4px solid #72b7f8;
  padding-left: 20px;
  font-weight: bold;
}
.panel-thumb-list .thumb-property *[class*="col-"] {
  padding: 0;
}
.panel-thumb-list .thumb-property *[class*="col-"]:first-child {
  padding-left: 15px;
}
