@import "mixin";
@import "config";

.btn{
    @include borderRadius(2px);
    @include boxShadow(0 1px 1px rgba(0,0,0,.05));
    outline: none !important;
    &.btn-primary{
        background-color: $primaryColor;
        border: none;
        @include getFontColor($primaryColor);
    }
    &.btn-danger{
        background-color: $dangerColor;
        border: none;
        @include getFontColor($dangerColor);
    }
    &.btn-boolean{
        @include borderRadius(20px);
        @include boxShadow(none);
        width:70px;
        padding:3px;
        background-color:#ddd;
        &.active{
            background-color:$primaryColor;
        }
        > .btn-mark{
            @include borderRadius(50%);
            width:30px;
            height:30px;
            background-color:#fff;
            position: relative;
        }
    }
}
