$color1 : #fff;
$color2 : #fff;

$fontfamily : "Aileron",sans-serif;

// Color
$primaryColor : #1f83ab;
$infoColof : lightblue;
$warningColor : orange;
$dangerColor : red;
$successColor : #1fab54;

// Auth Page
$authBannerBg : $primaryColor;
$authBoxBg : rgb(255,255,255);
