$color1 : #fff;
$color2 : #fff;

$fontfamily : "Aileron",sans-serif;

// Color
$primaryColor : #72b7f8;
$infoColof : lightblue;
$warningColor : orange;
$dangerColor : red;
$successColor : #2bd3d6;

// Gray Color
$lightBase : #f5f5f5;
$mediumBase : #dddddd;
$darkBase : #555555;

// Auth Page
$authBannerBg : $primaryColor;
$authBoxBg : rgb(255,255,255);
