@import "config";
@import "fonts";

html,
body {
    background-color: #eaf0f5;
    font: {
        family: $fontfamily;
        size: 15px;
        weight: normal;
    }
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: $fontfamily;
        weight: 300;
    }
}

h2 {
    font-size: 25px;
}

p {
    margin: 0;
}

.box {
    &-center {
        margin: 0 auto;
        float: none;
    }
}

.navbar-main {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $primaryColor;
    border: none;
    .navbar-brand {
        padding-top: 17px;
        color: #FFFFFF;
    }
    .navbar-nav {
        > .dropdown {
            &:not(.open) {
                > a {
                    &:visited, &:link, &:hover {
                        color: #fff !important;
                    }
                    &:hover {
                        background-color: rgba(255, 255, 255, .1) !important;
                        border-radius: 30px;
                    }
                }
            }
            &.open{

                > a {
                    &:visited, &:link, &:hover {
                        border-radius: 30px;
                        color: #fff !important;
                        background-color: rgba(0,0,0,.15);
                    }
                }
            }
        }

    }
}

.form-search {
    background-color: rgba(255, 255, 255, .15);
    @include borderRadius(3px);
    padding: 0;
    input,
    button {
        @include boxShadow(none);
        background-color: transparent;
        border: none;
    }
    input {
        color: #fff;
        font-size: 14px;
        padding: 10px;
        &:focus {
            @include boxShadow(none);
        }
        @include setPlaceholderColor(#ffffff);
    }
    button {
        &:hover,
        &:active {
            background-color: transparent;
            border: none;
        }
        > svg {
            transform: translateY(3px);
        }
    }
}

.pac-container {
    width: 500px !important;
    > .pac-item {
        padding: 10px;
    }
    &.pac-logo {
        &:after {
            content: "";
            background-image: none;
            height: 0;
        }
    }
}

.line-round{
    @include borderRadius(10px);
    height:3px;
    &.primary{
        background-color: $primaryColor;
    }
}

.panel-tiket{
    > ul{
        margin:0;
        padding:0;
        > li{
            display: table;
            width:100%;
            padding:10px;
            border-bottom: 1px solid rgba(0,0,0,.07);
            &:first-child{
                border-top: 1px solid rgba(0,0,0,.07);
            }
            &:last-child{
                > span{
                    &:last-child{
                        color:$warningColor;
                    }
                }
            }
            > span{
                display: table-cell;
                &:first-child{
                    width:30%;
                    text-align:left;
                }
                &:last-child{
                    text-align:right;
                    font-weight:bold;
                }
            }
        }
    }
}

@import "input";

@import "box";

@import "button";

@import "notif";

@import "panel";
