@import "config";
@import "fonts";

html,
body {
    font: {
        family: $fontfamily;
        size: 15px;
        weight: normal;
    }
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: $fontfamily;
        weight: 300;
    }
}

h2{
    font-size:25px;
}

.box {
    &-center {
        margin: 0 auto;
        float: none;
    }
}

.navbar-main{
    background-color: $primaryColor;
    border-bottom-color: darken($primaryColor,30%);
    .navbar-brand{
        color:#FFFFFF;
    }
}

.form-search{
    background-color:rgba(255,255,255,.15);
    @include borderRadius(3px);
    padding:0;
    > input,
    button{
        @include boxShadow(none);
        background-color:transparent;
        border:none;
    }
    > input {
        color:#fff;
        &:focus{
            @include boxShadow(none);
        }
        @include setPlaceholderColor(#ffffff);
    }
    > button{
        &:hover,
        &:active{
            background-color: transparent;
            border: none;
        }
        > svg{
            transform: translateY(3px);
        }
    }
}

.pac-container{
    width:500px !important;
    > .pac-item{
        padding:10px;
    }
    &.pac-logo{
        &:after{
            content:"";
            background-image: none;
            height:0;
        }
    }
}

@import "input";

@import "box";

@import "button";

@import "notif";

@import "panel";